@model CreateFeatureDetailDto
@{
    ViewData["Title"] = "CreateFeatureDetail";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Önə çıxan əməliyyatları</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Önə çıxan Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Fid"> Önə çıxan</label>
                                <input type="text" class="form-control" asp-for="FeatureId" id="Fid">
                            </div>
                            <div class="form-group">
                                <label for="title"> Başlıq</label>
                                <input type="text" class="form-control" asp-for="Title" id="title">
                            </div>
                            <div class="form-group">
                                <label for="description">Açıqlama</label>
                                <input type="text" class="form-control" asp-for="Description" id="description">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">Təsdiq Et</button>
                            <a href="@Url.Action("Index", "FeatureDetail")" class="btn btn-secondary">İmtina Et</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>