@model List<GetFeatureDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Önə Çıxan Əməliyyatları</h4>
		@if (TempData["SuccessMessage"] != null)
		{
			<div class="alert alert-success">
				@TempData["SuccessMessage"]
			</div>
		}

		@if (TempData["ErrorMessage"] != null)
		{
			<div class="alert alert-danger">
				@TempData["ErrorMessage"]
			</div>
		}
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Önə Çıxanlar Listi</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							Önə Çıxanlar ilə bağlı əməliyyatları aşağıdan görə bilərsiniz.
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Ad </th>
									<th scope="col">Yenile</th>
									<th scope="col">Sil</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.FeatureId</td>
										<td>@item.FeatureName</td>
										<td><a href="/Feature/UpdateFeature/@item.FeatureId" class="btn btn-outline-success">Yenilə</a></td>
										<td><a href="/Feature/DeleteFeature/@item.FeatureId" class="btn btn-outline-danger">Sil</a></td>
									</tr>
								}
							</tbody>
						</table>
						<a href="/Feature/CreateFeature/" class="btn btn-outline-primary">Yeni Önə Çıxanlar Bölümü Əlavə Et</a>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>
