@model UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Kateqoriya əməliyyatları</h4>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Kateqoriya Yeniləmə Səhifəsi</div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" asp-for="CategoryId"/>
                            @*  Modelin içində ID olsa belə, o, serverə getməyəcək, çünki ID-ni HTML-in içində göstərməlisən 
                            ki, form submit ediləndə serverə getsin, ASP.NET Core, yalnız formdakı input-ları POST sorğusunda 
                            qəbul edir, modelin içində əvvəlcədən CategoryId olması yetərli deyil. 
                            *@
                            <div class="form-group">
                                <label for="categoryname">Kateqoriya Adı</label>
                                <input type="text" class="form-control" asp-for="CategoryName" id="categoryname">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Status</label>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" asp-for="Status" id="status">
                                    <label class="custom-control-label" for="status">Aktiv</label>
                                </div>
                            </div>
                        </div>

                        <div class="card-action">
                            <button class="btn btn-success">Təsdiq Et</button>
                            <a href="/Category/Index" class="btn btn-secondary">İmtina Et</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>